{% extends 'testapp/base.html' %}

{% load static %}
{% block title %}Room Listing - Room Rental{% endblock %}

{% block content %}

<section>
    <div class="search">
        <form method="get" action="{% url 'room_listing' %}">
            <input type="text" name="search" placeholder="Search with location or price...">
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

<section>
    <div class="room_listing">
        {% for room in rooms %}
        <div class="room">
            <img src="{{ room.image.url }}" alt="{{ room.title }}" />
            <h1>{{ room.title }}</h1>
            <p>Price: {{ room.price }}</p>
            <p>Location: {{ room.location }}</p>
            <!-- <p>Available: {{ room.available }}</p>
            <p>Description: {{ room.description }}</p> -->
        </div>
        {% empty %}
        <p>No rooms available at the moment.</p>
        {% endfor %}
    </div>
</section>

{% endblock content %}
